:root {
    --main-bg: #0f172A;
    --text-color: #e2e8f0;
    --hover-color: #5eead4;
}

body{
    max-width: 1440px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding-top: 90px;
    font-family: "Inter", sans-serif;
    background-color: #0f172A;
}

.cursor-glow {
    position: fixed;
    width: 500px;
    height: 500px;
    pointer-events: none;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: radial-gradient(
        circle,
        rgba(226, 232, 240, 0.05) 0%,
        rgba(226, 232, 240, 0.04) 20%,
        rgba(226, 232, 240, 0.02) 40%,
        rgba(226, 232, 240, 0.01) 60%,
        rgba(226, 232, 240, 0.005) 80%,
        rgba(226, 232, 240, 0) 95%    /* Extended gradient closer to edge */
    );
        transition: transform 0.10s ease;
}
.hover-effect{
    border: 1px none transparent; 
    overflow: hidden;
    border-radius: 10px;
    background-color: #94a3b81b;
    transition: none 0.9s ease;
    color: #5eead4;
}
.text-hover{
    color: #5eead4;
}
.image-hover{
    transform: translateY(-5px);
    filter:brightness(0) saturate(100%) invert(100%) sepia(94%) saturate(6839%) hue-rotate(149deg) brightness(92%) contrast(90%);
}
.myPortfolio{
    display: flex
}
.header{
    min-width: 42%;
    width: 40%;
    position: fixed;
    height: 100%;
    position: fixed;
    padding-left: 96px;
    align-items: center;
    text-align: left;
    justify-content: left;
    margin-bottom: 30px;
}

.header .aboutDev h1{
    color: #e2e8f0;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 8px;
}
.header .aboutDev h2{
    color:#e2e8f0;
    margin-top: 0px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 23px;
}
.header .aboutDev p{
    color: #94a3b8;
    width: 320px;
    height: 48px;
    margin-top: 16px;
    font-family: "Inter", sans-serif;
    font-size: 19px;
    margin-top: 5px;
    margin-bottom: 50px;
    line-height: 24px;
}
nav{
    display: inline-block;
    margin: 0;
    align-items: center;
    text-align: center;
}
.line{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0;
    color:#94a3b8;
}

nav a{
    font-size: 12px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #94a3b8;
    letter-spacing: 1px;
}
nav a:hover{
    color: #e2e8f0;
}
nav hr{
    height: 0px;
    width: 32px;
    color:#94a3b8;
    margin: 0;
    padding: 0;
    margin-right: 16px;
}
nav hr:hover{
    width: 65px;
    transition-duration: 1000ms;
}
.mySocials{
    margin-top: 32px;
}
.mySocials img{
    width: 23px;
    margin-right: 15px;
    filter: brightness(0) saturate(100%) invert(68%) sepia(5%) saturate(1010%) hue-rotate(176deg) brightness(92%) contrast(99%);
}
.mySocials img:hover{
    filter: brightness(0) saturate(100%) invert(100%) sepia(43%) saturate(0%) hue-rotate(133deg) brightness(107%) contrast(101%);
}
.right{
    min-width: 46%;
    width: 46%;
    height: auto;
    position: absolute;
    right: 45px;
    margin-top:25px ;
    margin-bottom: 30px;
}
.right .aboutMe p{
    color: #94a3b8;
    width: 580px;
    margin-left: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 19px;
    text-align: start;
    line-height: 26px;
}
.right .aboutMe p:nth-of-type(3){
    margin-bottom: 127px;
}
.right .aboutMe a{
    color: #FFFFFF;
    text-decoration: none;
}
.right .aboutMe a:hover{
    color: #5eead4;
}
.right .experience{
    display: flex;
    padding-left: 16px;
    margin-bottom: 15px;
    padding: 16px 24px;
    margin-top: 5px;
    align-items: top; 
    transition: none 0.9s ease;
}

.experience:hover{
    border: 1px none transparent;
    overflow: hidden;
    border-radius: 10px;
    background-color: #94a3b81b;
    transition: none 0.9s ease;
}
.experience:hover h3{
    color: #5eead4;
}
.experience :hover img {
    transform: translateY(-5px);
    filter:brightness(0) saturate(100%) invert(100%) sepia(94%) saturate(6839%) hue-rotate(149deg) brightness(92%) contrast(90%);
}


.right .experience .duration h4{
    letter-spacing: 1px;
    width: 120px;
    font-family: "Inter", sans-serif;
    font-size:12px;
    text-transform: uppercase;
    color: #94a3b8;
    font-weight: 600;
    margin-top: 2.5px;
    margin-right: 30px;
}
.right .jobDescription {
    width: 530px;
}
.right .jobDescription .role h3{
    margin-top: -2.5px;
}
.right .jobDescription .role{
    margin-top: -2.5px;
    width: 400px;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    text-align: left;
    color: #e2e8f0;
    filter: brightness(0) saturate(100%) invert(91%) sepia(0%) saturate(4029%) hue-rotate(294deg) brightness(102%) contrast(100%);
    line-height: 20px;
    margin-bottom: 0;
    transition: none 0.3s ease;
}
.right .jobDescription .role:hover{
    color: #5eead4;
    filter:brightness(0) saturate(100%) invert(100%) sepia(94%) saturate(6839%) hue-rotate(149deg) brightness(92%) contrast(90%);
}
.right .jobDescription .role img{
    width: 23px;
    margin-left: 5px;
    align-content: center;
    display: inline-flex;
    vertical-align: middle;
    margin-bottom: 0;
    transition: transform 0.3s ease;
}
/* .right .jobDescription .role img:hover{
    transform: translateY(-5px);
    filter:brightness(0) saturate(100%) invert(100%) sepia(94%) saturate(6839%) hue-rotate(149deg) brightness(92%) contrast(90%);
} */
.right .jobDescription .jobDetails p{
    color: #94a3b8;
    width: 400px;
    line-height: 22px;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 500;
}
.right .jobDescription .jobDetails .framework ul{
    display: flex;
    align-items: left;
    margin-left: -40px;
}
.right .jobDescription .subRole h2{
    color: #94a3b8;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    margin-top: 0;
}
.right .jobDescription .jobDetails .framework li{
    overflow: hidden;
    list-style: none;
    border: 0 solid transparent;
    padding: 6px 10px;
    border-radius: 20px;
    margin-right: 3px;
    align-content:center;
    text-align: center;
    background-color:#5fbcac21;
}
.right .jobDescription .framework li a{
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #5eead5dc;
    text-align: center;
    align-items: center;
}
.framework2 ul{
    list-style: none;
    margin-left: -40px;
}
.framework2 li{
    display: inline-block;
    overflow: hidden;
    list-style: none;
    border: 0 solid transparent;
    padding: 6px 10px;
    border-radius: 20px;
    margin-right: 3px;
    align-content:center;
    text-align: center;
    background-color:#5fbcac21;
}
.framework2 a{
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #5eead5dc;
    text-align: center;
    align-items: center;
}
.jobDescription .jobDetails .workLinks ul{
    list-style: none;
    margin-left: -37px;
}
.jobDescription .jobDetails .workLinks li{
    display: inline-block;
    margin-right: 10px;
    align-content: center;
    text-align: text;
}
.jobDescription .jobDetails .workLinks li:hover{
    color: #5eead4;
    filter:brightness(0) saturate(100%) invert(100%) sepia(94%) saturate(6839%) hue-rotate(149deg) brightness(92%) contrast(90%);
}
.jobDescription .jobDetails .workLinks a{
    text-decoration: none;
    color: #e2e8f0;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.jobDescription .jobDetails .workLinks img{
    width: 15px;
    margin-right: 5px;
}
.right .moreResume {
    margin-top: 30px;
    margin-bottom: 100px;
}
.right .moreResume p{
    color: #e2e8f0;
    margin-left: 20px;
    font-family: "Inter", sans-serif;
    font-size: 17px;
    font-weight: 700;
    display: flex;
}
.right .moreResume p:hover{
    color: #5eead4;
    filter:brightness(0) saturate(100%) invert(100%) sepia(94%) saturate(6839%) hue-rotate(149deg) brightness(92%) contrast(90%);
}
.right .moreResume img{
    margin-left: 5px;
    width: 22px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(84%) saturate(5274%) hue-rotate(179deg) brightness(113%) contrast(88%);
}
.right .moreResume p:hover img{
    transform: translateY(-5px);
}
.right .projects{
    border-radius: 10px;
    display: flex;
    align-items: left;
    text-align: left;
    align-items: top;
    padding: 20px 20px;
    margin-top: 5px;
}
.right .projects:hover{
    border: 1px none transparent;
    overflow: hidden;
    border-radius: 10px;
    background-color: #94a3b81b;
    transition: 1000ms;
}
.right .projects .projectImg img{
    width: 110px;
    align-items: top;
}
.projects .projectDetails{
    margin-top: -15px;
    margin-left: 40px;
    align-items: top;
}
.projects .projectDetails h1{
    display: flex;
}
.projects .projectDetails img{
    width: 24px;
    margin-left: 10px;
}
.projects .projectDetails h1{
    align-items: center;
    text-align: left;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #e2e8f0;
    filter: brightness(0) saturate(100%) invert(100%) sepia(84%) saturate(5274%) hue-rotate(179deg) brightness(113%) contrast(88%);
}
.projects .projectDetails h1:hover{
    color: #5eead4;
    filter:brightness(0) saturate(100%) invert(100%) sepia(94%) saturate(6839%) hue-rotate(149deg) brightness(92%) contrast(90%);
}
.projects .projectDetails p{
    color: #94a3b8;
    width: 375px;
    line-height: 22px;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 500;
}
.projects .projectDetails .framework ul{
    list-style: none;
    margin-left: -40px;
}
.projects .projectDetails .framework  li{
    display: inline-block;
    overflow: hidden;
    list-style: none;
    border: 0 solid transparent;
    padding: 6px 10px;
    border-radius: 20px;
    margin-right: 3px;
    align-content:center;
    text-align: center;
    background-color:#5fbcac21;
}
.projects .projectDetails .framework  a{
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #5eead5dc;
    text-align: center;
    align-items: center;
}
.projects .rating{
    display: flex;
    align-items: left;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color:#e2e8f0;
    filter: brightness(0) saturate(100%) invert(100%) sepia(84%) saturate(5274%) hue-rotate(179deg) brightness(113%) contrast(88%);
    width: fit-content;
}
.projects .rating:hover{
    color: #5eead4;
    filter:brightness(0) saturate(100%) invert(100%) sepia(94%) saturate(6839%) hue-rotate(149deg) brightness(92%) contrast(90%);
}
.projects .rating img{
    width: 13px;
    margin: 0 5px 0 0;
}
.projects .rating span{
    display: inline-block;
    margin-right: 10px;
    align-content: center;
    text-align: text;
    font-weight: 500;
    font-size: 16px;
}
.projectDetails .install{
    display: flex;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color:#e2e8f0;
    filter: brightness(0) saturate(100%) invert(100%) sepia(84%) saturate(5274%) hue-rotate(179deg) brightness(113%) contrast(88%);
}
.projectDetails .install:hover{
    color: #5eead4;
    filter:brightness(0) saturate(100%) invert(100%) sepia(94%) saturate(6839%) hue-rotate(149deg) brightness(92%) contrast(90%);
}
.projects .install img{
    margin: 0 5px 0 0;
}
.projects .install span{
    display: inline-block;
    margin-right: 10px;
    align-content: center;
    text-align: text;
    font-weight: 500;
    font-size: 16px;
}
.moreProject{
    margin-top: 25px;
    margin-bottom: 150px;
    margin-left: 20px;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color:#e2e8f0;
    filter: brightness(0) saturate(100%) invert(100%) sepia(84%) saturate(5274%) hue-rotate(179deg) brightness(113%) contrast(88%);
}
.moreProject:hover{
    /* text-decoration: underline; */
    /* text-decoration-line: underline;
    text-decoration-color: #5eead4; */
    border-bottom: 1px solid #000000;
    text-underline-offset: 5px;
    width: fit-content;
}
.moreProject img{
    width: 15px;
    margin-left: 5px;
}
.moreProject:hover img{
    transform: translateX(5px);
}
.previousProjects{
    display: inline-flex;
    padding: 16px 24px;
    gap: 16px;
    justify-content: center;
    margin-bottom: 10px;
}
.previousProjects:hover{
    border: 1px none transparent;
    overflow: hidden;
    border-radius: 10px;
    background-color: #94a3b81b;
    transition: 1000ms;
}
.previousProjects .algolia p{
    font-weight: 700;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #64748b;
    margin-top: 0;
    margin-bottom: 0;
}
.previousProjects .algolia h1{
    color: #e2e8f0;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    width: 400px;
    margin-top: 0;
    filter: brightness(0) saturate(100%) invert(100%) sepia(84%) saturate(5274%) hue-rotate(179deg) brightness(113%) contrast(88%);
    align-items: center;
    gap: 0;
}
.previousProjects .algolia img{
    width: 23px;
    margin-left: 5px;
    align-content: center;
    display: inline-flex;
    vertical-align: middle;
    margin-bottom: 0;
}
.previousProjects .algolia h1:hover{
    color: #5eead4;
    filter:brightness(0) saturate(100%) invert(100%) sepia(94%) saturate(6839%) hue-rotate(149deg) brightness(92%) contrast(90%);
}
.previousProjects .mobileAppCms p{
    font-weight: 700;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #64748b;
    margin-top: 0;
    margin-bottom: 0;
}
.previousProjects .mobileAppCms h1{
    color: #e2e8f0;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    width: 400px;
    margin-top: 0;
    filter: brightness(0) saturate(100%) invert(100%) sepia(84%) saturate(5274%) hue-rotate(179deg) brightness(113%) contrast(88%);
    align-items: center;
    gap: 0;
    line-height: normal;
}
.previousProjects .mobileAppCms h1:hover{
    color: #5eead4;
    filter:brightness(0) saturate(100%) invert(100%) sepia(94%) saturate(6839%) hue-rotate(149deg) brightness(92%) contrast(90%);
}
.previousProjects .mobileAppCms img{
    width: 23px;
    margin-left: 5px;
    align-content: center;
    display: inline-flex;
    vertical-align: middle;
    margin-bottom: 0;
}
.previousProjects:nth-last-of-type(2){
    margin-bottom: 150px;
}
.fullFramework p{
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #64748b;
    line-height: 22px;
    width: 500px;
    padding-left: 20px;
}
.fullFramework a{
    text-decoration: none;
    color: #94a3b8;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 700;
}
.fullFramework a:hover{
    color: #5eead4;
}
.rotate-animation img{
    margin-left: 510px;
    padding: 0;
    animation-duration: 1000ms;
}
.rotate-animation img:hover{
    /* margin-top: 10px; */
    margin-bottom: 20px;
}
.navigation{
    width: 65px;
    transition-duration: 1000ms;
}


/* 
Responsive Styles
@media screen and (max-width: 1200px) {
    .header, .right {
        min-width: 100%;
        width: 100%;
        position: relative;
        padding-left: 20px;
    }
    .header .aboutDev h1 {
        font-size: 40px;
    }
    .header .aboutDev h2 {
        font-size: 20px;
    }
    .header .aboutDev p {
        font-size: 16px;
        width: 100%;
    }
    .myPortfolio {
        flex-direction: column;
    }
    .line {
        flex-direction: column;
    }
    .right .aboutMe p {
        font-size: 16px;
        width: 100%;
    }
    .projects {
        flex-direction: column;
    }
    .right .experience {
        width: 100%;
    }
    .previousProjects {
        flex-direction: column;
    }
    .right .moreResume {
        margin-top: 20px;
    }
    .right .moreResume p {
        font-size: 14px;
    }
    .projects .projectDetails {
        margin-left: 0;
        margin-top: 10px;
    }
    .projects .projectDetails h1 {
        font-size: 18px;
    }
    .moreProject {
        font-size: 16px;
    }
}

/* Responsive Design */
/* @media (min-width: 768px) {
    .myPortfolio {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .header {
        padding-left: 40px;
        padding-right: 40px;
    }

    .right {
        flex: 1;
        max-width: 60%;
        padding: 40px;
    }

    .header .aboutDev {
        max-width: 30%;
        float: left;
    }

    .mySocials {
        justify-content: flex-start;
        margin-left: 20px;
    }
}

@media (min-width: 1024px) {
    .header {
        max-width: 960px;
        margin: auto;
    }

    .right {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .projects {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media (max-width: 768px) {
    .header, .right {
        width: 100%;
        padding: 16px;
    }
    .right .aboutMe p {
        width: 100%;
    }
} */
/* .cursor-glow { */
    /* width: 300px; Reduced size */
    /* height: 300px;
} */



/* @media screen and (max-width: 768px) { */
    /* Mobile devices */
    /* body {
        padding-top: 60px;
    }
    .header .aboutDev h1 {
        font-size: 32px;
    }
    .header .aboutDev h2 {
        font-size: 18px;
    }
    .header .aboutDev p {
        font-size: 14px;
    }
    .myPortfolio {
        flex-direction: column;
    }
    .right {
        position: relative;
        padding-left: 10px;
        width: 100%;
        margin-top: 20px;
    }
    .right .aboutMe p {
        font-size: 14px;
        width: 100%;
    }
    .line {
        flex-direction: column;
    }
    .right .projects {
        margin-top: 20px;
    }
    .previousProjects {
        flex-direction: column;
    }
    .right .moreResume {
        margin-top: 10px;
    }
    .projects .projectImg img {
        width: 80px;
    }
    .projects .projectDetails h1 {
        font-size: 14px;
    }
    .projects .projectDetails p {
        font-size: 12px;
    }
    .projects .rating {
        font-size: 12px;
    }
    .fullFramework p {
        font-size: 14px;
    }
    .rotate-animation img {
        width: 60px;
    }
} */

/* @media screen and (max-width: 480px) { */
    /* Very small screens or mobile */
    /* body {
        padding-top: 50px;
    }
    .header .aboutDev h1 {
        font-size: 28px;
    }
    .header .aboutDev h2 {
        font-size: 16px;
    }
    .header .aboutDev p {
        font-size: 12px;
        width: 100%;
    }
    .myPortfolio {
        flex-direction: column;
    }
    .right {
        padding-left: 10px;
        width: 100%;
    }
    .right .aboutMe p {
        font-size: 12px;
    }
    .projects .projectDetails h1 {
        font-size: 12px;
    }
    .projects .projectDetails p {
        font-size: 10px;
    }
    .projects .rating {
        font-size: 10px;
    }
    .moreProject {
        font-size: 14px;
    }
}  */